<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyu.employ.resume.dao.ResumeMapper" >
  <resultMap id="resultMap" type="com.chenyu.employ.resume.model.Resume" >
    <id column="resume_id" property="resumeId" jdbcType="INTEGER" />
    <result column="user_picture" property="userPicture" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="condition" property="condition" jdbcType="VARCHAR" />
    <result column="work_life" property="workLife" jdbcType="INTEGER" />
    <result column="evaluation" property="evaluaiton" jdbcType="VARCHAR" />
    <result column="work_experience" property="workExperience" jdbcType="VARCHAR"/>
    <result column="college_experience" property="collegeExperience" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="train_experience" property="trainExperience" jdbcType="VARCHAR" />
    <result column="resume_update_time" property="resumeUpdateTime" jdbcType="TIMESTAMP" />
    <result column="resume_create_time" property="resumeCreateTime" jdbcType="TIMESTAMP"/>
    <association property="userDetail" javaType="com.chenyu.employ.user.model.UserDetail">
    	<id column="user_detail_id" property="userDetailId" jdbcType="INTEGER" />
    	<result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    	<result column="user_head_pic" property="userHeadpic" jdbcType="VARCHAR" />
    	<result column="user_sex" property="userSex" jdbcType="INTEGER" />
    	<result column="user_age" property="userAge" jdbcType="INTEGER" />
    	<result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    	<result column="user_mobile" property="userMobile" jdbcType="CHAR" />
    	<result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    	<result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    	<result column="user_city" property="userCity" jdbcType="VARCHAR" />
    	<result column="user_college" property="userCollege" jdbcType="VARCHAR" />
    	<result column="user_field" property="userField" jdbcType="VARCHAR"/>
    	<result column="user_detail_update_time" property="userDetailUpdateTime" jdbcType="TIMESTAMP" />
   	 <association property="user" javaType="com.chenyu.employ.user.model.User">
    	<id column="user_id" property="userId" jdbcType="INTEGER" />
    	<result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" />
    	<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    	<result column="user_status" property="userStatus" jdbcType="INTEGER" />
    	<result column="user_create_time" property="userCreateTime" jdbcType="TIMESTAMP" />
    	<result column="user_update_time" property="userUpdateTime" jdbcType="TIMESTAMP"/>
   	 </association>
    </association>
  </resultMap>
  
  <select id="getResumePaginList" resultMap="resultMap" parameterType="com.chenyu.employ.resume.dto.ResumeDto">
	select * from resume inner join user_detail on resume.user_id=user_detail.user_detail_id
	order by resume_update_time desc
	<if test="offset!=null and pageSize!=null and pageSize!=''">
		limit #{offset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    </if>
  </select>
  
  <select id="getResumeByResumeId" resultMap="resultMap" parameterType="Integer">
  	select * from resume inner join user_detail on resume.user_id=user_detail.user_detail_id
  	and resume.resume_id=#{resumeId,jdbcType=INTEGER}
  </select>
  
  <select id="getResumeList" resultMap="resultMap">
	select * from resume inner join user_detail on resume.user_id=user_detail.user_detail_id
  </select>
  
  
</mapper>