<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyu.employ.user.dao.UserDetailMapper" >
  <resultMap id="resultMap" type="com.chenyu.employ.user.model.UserDetail" >
    <id column="user_detail_id" property="userDetailId" jdbcType="INTEGER" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="user_head_pic" property="userHeadpic" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="INTEGER" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_mobile" property="userMobile" jdbcType="CHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_province" property="userProvince" jdbcType="VARCHAR" />
    <result column="user_city" property="userCity" jdbcType="VARCHAR" />
    <result column="user_college" property="userCollege" jdbcType="VARCHAR" />
    <result column="user_field" property="userField" jdbcType="VARCHAR"/>
    <result column="user_detail_update_time" property="userDetailUpdateTime" jdbcType="TIMESTAMP" />
    <association property="user" column="user_id" javaType="com.chenyu.employ.user.model.User">
    	<id column="user_id" property="userId" jdbcType="INTEGER" />
    	<result column="user_login_name" property="userLoginName" jdbcType="VARCHAR" />
    	<result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    	<result column="user_status" property="userStatus" jdbcType="INTEGER" />
    	<result column="user_create_time" property="userCreateTime" jdbcType="TIMESTAMP" />
    	<result column="user_update_time" property="userUpdateTime" jdbcType="TIMESTAMP"/>
    </association>
  </resultMap>
  
  <select id="getUserDetailById" resultMap="resultMap" parameterType="java.lang.Integer" >
    select
    *
    from user_detail
    where user_detail_id = #{userDetailId,jdbcType=INTEGER}
  </select>
  
  <select id="getUserDetailByUserId" resultMap="resultMap"
		parameterType="com.chenyu.employ.user.dto.UserDetailDto">
		select
		*
		from user_detail ud
		inner join user u on ud.user_id=u.user_id
		order by ud.user_detail_update_time desc
		<if test="offset!=null and pageSize!=null and pageSize!=''">
			limit #{offset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
    	</if>
	</select>

	<insert id="saveUserDetail" parameterType="com.chenyu.employ.user.model.UserDetail">
		insert into user_detail (
		user_id,user_real_name,user_head_pic,user_sex,user_age,user_birthday,user_email,
		user_province,user_city,user_college,user_detail_update_time
		)
		values (
		#{user.userId,jdbcType=INTEGER},
		#{userRealName,jdbcType=VARCHAR},
		#{userHeadPic,jdbcType=VARCHAR},
		#{userSex,jdbcType=INTEGER},
		#{userAge,jdbcType=INTEGER},
		#{userBirthday,jdbcType=DATE},
		#{userEmail,jdbcType=VARCHAR},
		#{userProvince,jdbcType=VARCHAR},
		#{userCity,jdbcType=VARCHAR},
		#{userCollege,jdbcType=VARCHAR},
		now()
		)
	</insert>

	<update id="updateUserDetail" parameterType="com.chenyu.employ.user.model.UserDetail">
		update user_detail
		<set>
			<if test="userRealName != null">
				user_real_name = #{userRealName,jdbcType=VARCHAR},
     		 </if>
			<if test="userHeadPic != null">
				user_head_pic = #{userHeadPic,jdbcType=VARCHAR},
      		</if>
			<if test="userSex != null">
				user_sex = #{userSex,jdbcType=INTEGER},
     		 </if>
			<if test="userAge != null">
				user_age = #{userAge,jdbcType=INTEGER},
      		</if>
			<if test="userBirthday != null">
				user_birthday = #{userBirthday,jdbcType=DATE},
      		</if>
			<if test="userEmail != null">
				user_email = #{userEmail,jdbcType=VARCHAR},
      		</if>
			<if test="userProvince != null">
				user_province = #{userProvince,jdbcType=VARCHAR},
      		</if>
			<if test="userCity != null">
				user_city = #{userCity,jdbcType=VARCHAR},
      		</if>
			<if test="userCollege != null">
				user_college = #{userCollege,jdbcType=VARCHAR},
     		 </if>
			user_detail_update_time=now()
		</set>
		where user_detail_id = #{userDetailId,jdbcType=INTEGER}
	</update>

	<select id="getUserDetailCount" parameterType="com.chenyu.employ.user.model.UserDetail"
		resultType="INTEGER">
		select count(*) from user_detail ud inner join user u on
		ud.user_detail_id=u.user_id
	</select>
	
	<select id="getUserDetailByUser" parameterType="com.chenyu.employ.user.model.User" resultMap="resultMap">
		select * from user_detail ud inner join user u
		where u.user_id=ud.user_id
	</select>
</mapper>