<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyu.employ.menu.dao.MenuMapper" >
  <resultMap id="resultMap" type="com.chenyu.employ.menu.model.Menu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_type" property="menuType" jdbcType="INTEGER" />
    <result column="menu_uri" property="menuUri" jdbcType="VARCHAR" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="menu_parent" property="menuParent" jdbcType="INTEGER" />
  </resultMap>
  <select id="getMenuListByType" resultMap="resultMap" parameterType="int">
  	select * from menu where menu_type=#{menuType} order by menu_id
  </select>
  
  <select id="getMenuByUri" resultMap="resultMap" parameterType="String">
  	select * from menu where menu_uri=#{menuUri}
  </select>
  
  <select id="getMenuByParent" resultMap="resultMap" parameterType="INTEGER">
  	select * from menu where menu_parent=#{menuParent}
  </select>
  
  <select id="getMenuById" resultMap="resultMap" parameterType="INTEGER">
  	select * from menu where menu_id=#{menuId}
  </select>
</mapper>