<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenyu.employ.job.dao.JobMapper" >
  <resultMap id="resultMap" type="com.chenyu.employ.job.model.Job" >
    <id column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="job_field" property="jobField" jdbcType="INTEGER" />
    <result column="job_name" property="jobName" jdbcType="VARCHAR" />
    <result column="experience" property="experience" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="salary" property="salary" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="request" property="request" jdbcType="VARCHAR" />
    <association property="companyDetail" javaType="com.chenyu.employ.company.model.CompanyDetail">
    	<id column="cd_id" property="cdId" jdbcType="INTEGER" />
		<result column="company_type" property="companyType" jdbcType="VARCHAR" />
	    <result column="company_introduce" property="companyIntroduce"
			jdbcType="VARCHAR" />
		<result column="establish_date" property="establishDate"
			javaType="java.util.Date" jdbcType="DATE" />
		<result column="staff_number" property="staffNumber" jdbcType="INTEGER" />
		<result column="contact_tel" property="contactTel" jdbcType="VARCHAR" />
		<result column="job_address" property="address" jdbcType="VARCHAR" />
		<result column="province" property="province" jdbcType="VARCHAR" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="dist" property="dist" jdbcType="VARCHAR" />
		<result column="zipcode" property="zipcode" jdbcType="CHAR" />
		<result column="field" property="field" jdbcType="INTEGER" />
		<result column="offsite_url" property="offsiteUrl" jdbcType="VARCHAR" />
		<result column="logo" property="logo" jdbcType="VARCHAR" />
		<result column="company_email" property="companyEmail"
			jdbcType="VARCHAR" />
		<result column="weight" property="weight" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	 	<association property="company"
			javaType="com.chenyu.employ.company.model.Company">
			<id property="cid" column="cid" jdbcType="VARCHAR" />
			<result property="companyName" column="companyName" jdbcType="VARCHAR" />
			<result column="loginName" property="loginname" jdbcType="VARCHAR" />
			<result column="password" property="password" jdbcType="VARCHAR" />
			<result column="status" property="status" jdbcType="INTEGER" />
			<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
			<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		</association> 
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    job_id, company_id, field_id, job_name, experience, address, number, salary, publish_time, 
    request
  </sql>
  
  <select id="getJobList" resultMap="resultMap" parameterType="com.chenyu.employ.job.dto.JobDto">
  	select 
  	*
  	 from job j inner join(select
		cd_id,c.companyName as companyName,
		c.cid,
		c.status,
		c.create_time,
		company_type,company_introduce, establish_date,staff_number,
		contact_tel, offsite_url,
		logo,address,province,city,dist,zipcode,field,company_email,weight,cd.update_time
		from company_detail cd
		inner join company c on cd.company_id=c.cid) c_d on j.companydetail_id=c_d.cd_id
	    <if test="companyDetail.company.companyName!=null and companyDetail.company.companyName!=''">
	    	and j.company_id=#{companyDetail.company.cid,jdbcType=INTEGER}
	    </if>
	    order by publish_time desc,weight asc
	    <if test="offset!=null and pageSize!=null and pageSize!=''">
			limit #{offset},#{pageSize}
    	</if>
  </select>  
  
  <select id="selectByPrimaryKey" resultMap="resultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job
    where job_id = #{jobId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chenyu.employ.job.model.Job" >
    insert into job (job_id, company_id, field_id, 
      job_name, experience, address, 
      number, salary, publish_time, 
      request, exist_day)
    values (#{jobId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{fieldId,jdbcType=INTEGER}, 
      #{jobName,jdbcType=VARCHAR}, #{experience,jdbcType=TINYINT}, #{address,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{salary,jdbcType=VARCHAR}, #{publishTime,jdbcType=TIMESTAMP}, 
      #{request,jdbcType=VARCHAR}, #{existDay,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.chenyu.employ.job.model.Job" >
    insert into job
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="fieldId != null" >
        field_id,
      </if>
      <if test="jobName != null" >
        job_name,
      </if>
      <if test="experience != null" >
        experience,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="salary != null" >
        salary,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="request != null" >
        request,
      </if>
      <if test="existDay != null" >
        exist_day,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="fieldId != null" >
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        #{experience,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="request != null" >
        #{request,jdbcType=VARCHAR},
      </if>
      <if test="existDay != null" >
        #{existDay,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenyu.employ.job.model.Job" >
    update job
    <set >
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="fieldId != null" >
        field_id = #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="jobName != null" >
        job_name = #{jobName,jdbcType=VARCHAR},
      </if>
      <if test="experience != null" >
        experience = #{experience,jdbcType=TINYINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        salary = #{salary,jdbcType=VARCHAR},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="request != null" >
        request = #{request,jdbcType=VARCHAR},
      </if>
      <if test="existDay != null" >
        exist_day = #{existDay,jdbcType=INTEGER},
      </if>
    </set>
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenyu.employ.job.model.Job" >
    update job
    set company_id = #{companyId,jdbcType=INTEGER},
      field_id = #{fieldId,jdbcType=INTEGER},
      job_name = #{jobName,jdbcType=VARCHAR},
      experience = #{experience,jdbcType=TINYINT},
      address = #{address,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      salary = #{salary,jdbcType=VARCHAR},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      request = #{request,jdbcType=VARCHAR},
      exist_day = #{existDay,jdbcType=INTEGER}
    where job_id = #{jobId,jdbcType=INTEGER}
  </update>
</mapper>